include LICENSE README.md AUTHORS
recursive-include rosetta-grappelli/templates/rosetta *.html
recursive-include rosetta-grappelli/templates/rosetta/css *.css
recursive-include rosetta-grappelli/templates/rosetta/js *.js
